header {
    background-color: $primary-color;
    display: flex;
    padding: 1rem;
}
// Cabecera para todas las páginas de la web
.header-logo {
    display: flex;
    justify-content: start;
}
.header-logo-imagen {
    align-self: center;
    margin-right: 1rem;

    // Tamaño del svg del logo
    svg {
        width: 4.5rem;

        // Color del svg del logo
        path {
            fill: $secondary-color;
        }
    }
}
.header-logo-texto {
    align-self: center;

    h2 {
        color: $secondary-color;
        font-size: 3.2rem;
    }
}
// Menú para todas las páginas de la web
.header-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    
    li {
        color: $white;
        font-size: 2rem;
    }
}