/* Cabecera para todas las páginas de la web */
.header-logo {
    display: flex;
    justify-content: start;
}
.header-logo-imagen {
    align-self: center;
    margin-right: 1rem;
}
/* Tamaño y color del svg del logo */
.header-logo-imagen svg{
    width: 4.5rem;
}
.header-logo-imagen svg path {
    fill: hsl(0, 97%, 65%);
}
.header-logo-texto {
    align-self: center;
}
.header-logo-texto h2 {
    color: hsl(0, 97%, 65%);
    font-size: 3.2rem;
}
/* Menú para todas las páginas de la web */
.header-menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;   
}
.header-menu ul li {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
}
