.one-column {
    width: 100%;
}
.one-column > .column {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.two-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.two-columns > .column {
    width: 48%;
}
.two-columns-aside {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.two-columns-aside > .column-aside {
    width: 20%;
}
.two-columns-aside > .column-main {
    width: 75%;
}
.three-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.three-columns > .column {
    width: 30%;
}
.four-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.four-columns > .column {
    width: 22%;
}
.five-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.five-columns > .column {
    width: 18%;
}  