// Unificado el resumen de carrito y checkout ----CORREGIDO
.resumen {
    border: $primary-color 3px solid;
    box-shadow: 0.2rem 0.2rem 1rem $primary-color;
    border-radius: 0.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.resumen-cabecera {
    border-bottom: $primary-color 3px solid;
    background-color: $primary-color;
    padding: 0.5rem;

    h4 {
        color: $secondary-color;
        font-size: 1.3rem;
    }
}
.resumen-coste {
    padding: 0.5rem;
}
.resumen .resumen-coste:last-child {
    border-top: $primary-color 3px solid;
    font-weight: bold;
}