// Contenedor de la galeria de destacados
.destacado-articulos {
    margin-bottom: 3rem;
}
// Contenedor de los elementos de la ficha del producto destacado
.destacado-articulo {
    border: $primary-color 3px solid;
    box-shadow: 0.3rem 0.3rem 0.8rem $primary-color;
    border-radius: 0.5rem;
    height: 100%;
}
// Aplicado radius solo en las dos esquinas superiores de la imagen
.destacado-articulo-imagen {
    border: $primary-color-light 1px solid;
    margin-bottom: 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.destacado-articulo-titulo, .destacado-articulo-enlace, .destacado-articulo-descripcion {
    margin: 0 1rem 1rem;
}
.destacado-articulo-enlace h4 {
    color: $secondary-color;
    margin: 0 0 1rem;
}
// Justificación del texto
.destacado-articulo-descripcion {
    // text-align: justify;
    // text-align: center;
}