// Destacados
.destacados {
    margin: 0 auto;
    margin-bottom: 4rem;
    width: 80%;
}
.destacados-titulo {
    align-self: center;
    margin-bottom: 2rem;

    h2 {
        color: $secondary-color;
        font-size: 2.2rem;
    }
}
// Presentación
// Podría incluirse como componente cuando tenga claro el tipo de imagen y cómo estructurarlo
.presentacion {
    width: 80%;
    margin: auto;
}
.presentacion-texto {
    padding: 4rem;
    text-align: justify;
    height: 100%;

    p {
        margin-bottom: 1rem;
    }
}
// Replantear la imagen. Añadir varias o cambiar la que hay por otra más adecuada
.presentacion-imagen {
    padding: 4rem;
    width: 100%;

    img {
        // box-shadow: 0.3rem 0.3rem 0.8rem $black;
        // border-radius: 0.5rem;   
    }
}