input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   appearance: none;
   margin: 0;
}
img {
    object-fit: cover;
    max-width: 100%;
}
video {
    object-fit: cover;
    max-width: 100%;
}
// Se puede dar a todos los inputs de la página. ----CORREGIDO
input, select, textarea {
    border: none;
    font-size: 1.5rem;
    height: 2rem;
}
// Fichas de una galería
// Todas las fichas deben mantener el mismo alto independientemente del ancho de la pantalla y de como se comporte su contenido
.mantener-alto {
    height: 100%;
}
.mantener-alto div:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.column:has(.mantener-alto) {
    padding-bottom: 2rem;
}
