// Estilo de todos los botones de la web. Tiene una sombra interna para darle un poco de fondo.
.custom-button {
    border: $white 2px solid;
    background-color: $primary-color;
    color: $white;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    box-shadow: 0 0 1.5rem 0.1rem $button-shadow-color inset;
}
.custom-button:hover {
    transform: scale(1.01,1.01);
    box-shadow: 0 0 1.3rem 0.1rem $button-shadow-color inset;
}