.panel-etiquetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 4.5rem 5rem 0 0;
}
.panel-etiqueta {
    cursor: pointer;
    text-align: center;
    border: $primary-color 3px solid;
    box-shadow: 0 0 1.2rem 0.1rem $primary-color inset;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 1rem;

    h4 {
        font-size: 1.5rem;
    }
    h4:hover {
        transform: scale(1.04,1.04);
    }
}

.panel-etiqueta.activo {
    border-bottom: none;
    box-shadow: none;
}

.panel-etiquetas-contenido {
    display: none;
    padding: 1rem;
}

.panel-etiquetas-contenido.activo {
    display: block;
}
