// Unificado el formulario de checkout y contacto. Mantener la coherencia de los nombres formulario-datos-... ----CORREGIDO
.formulario-datos {
    position: relative;
    margin-bottom: 3rem;
}
.notificacion {
    position: absolute;
    display: none;
    bottom: 1rem;
    right: 1rem;
}
.notificacion.activo {
    display: block;
}
.notificacion.exito {
    color: green;
}
.notificacion.fallo {
    color: red;
}
.notificacion p {
    font-size: 1.5rem;
    font-weight: bold;
}
.formulario-datos-label  {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
// Contenedor de los input de texto. Sombreado externo
.formulario-datos-input, .formulario-datos-texto  {
    box-shadow: 0.2rem 0.2rem 1rem $primary-color; 
}
// Particularidad en los input y select del formulario. No se puede añadir a todos los input porque afectaría a algunos que no debería (botón más menos)
.formulario-datos-input input, .formulario-datos-input select, .formulario-datos-texto textarea {
    border-radius: 0.2rem;
}
.formulario-datos-requisito {
    position: absolute;
}
.formulario-datos-requisito {
    display: none;
    color: red;
}
.formulario-datos-requisito.incorrecto {
    display: block;
}
// Particularidad del textarea del formulario, para que tenga un alto determinado
.formulario-datos-texto textarea {
    height: 10rem;
    resize: none;
}
.formulario-datos-contador {
    font-size: 1.2rem;
    margin-left: auto;
    width: max-content;
}
// Particularidades del input tipo radio del formulario. De este modo se pone el input y el label uno al lado del otro
.formulario-datos-pago-opcion {
    display: flex;
}
// Se separan verticalmente, se aleja el label que se encuentra a su derecha
.formulario-datos-pago-input {
    margin: 0 2rem 2rem 0;
    // Se aumenta el radio del input
    input[type=radio] {
        transform: scale(1.5);
    }
}
// Botón de acción del formulario
.formulario-datos-boton-accion {
    width: 20%;
}