.carrito {
    padding: 3.5rem;
    min-height: 90vh;
}
/* Abstracción de los nombres para dar uso al componente en otros contextos (por ejemplo panel de administración) ----CORREGIDO*/
.panel-titulo {
    text-align: center;
    margin-bottom: 5rem;
}
.panel-titulo h2 {
    font-size: 3rem;
}
.panel-encabezados {
    margin-bottom: 1rem;
}
.panel-encabezado {
    text-align: center;
}
.panel-encabezado h4 {
    font-size: 1.5rem;
}
.panel-articulos {
    border-top: hsl(29, 100%, 64%) 4px solid;
    margin-bottom: 3rem;
}
.panel-articulo-imagen {
    margin: 0 auto;
    width: 30%;
}
.panel-articulo-imagen img {
    box-shadow: 0.2rem 0.2rem 1rem hsl(29, 100%, 64%);
    border-radius: 0.2rem;
    margin: 1rem 0;
}
.panel-articulo-descripcion {
    text-align: center;
}
.panel-articulo-precio {
    text-align: center;
}
.panel-articulo span {
    color: hsl(180, 10%, 24%);
    font-size: 1.2rem;
    font-weight: bold;
}
/* Replantear, en el html, la posición de esta clase para la alineación (fuera de las columnas). Esto supondrá modificar aquí la forma de apuntar a los elementos */
.alineacion-items {
    align-items: center;
}

/* Esta caja posiciona el resumen y los botones del final de la página */
.carrito-articulos-resumen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Particularidad del estilo del resumen en esta página */
.resumen-carrito {
    width: 30%;
}
/* Particularidad de los botones en esta página */
.carrito-articulos-resumen .botones-accion {
    width: 30%;
    text-align: center;
}