.carrito {
    padding: 3.5rem;
    min-height: 90vh;
}
// Esta caja posiciona el resumen y los botones del final de la página
.carrito-articulos-resumen {
    display: flex;
    flex-direction: column;
    align-items: center;

    // Particularidad del estilo del resumen en esta página
    .resumen {
        width: 30%;
    }
    
    // Particularidad de los botones en esta página
    .botones-accion {
        width: 30%;
        text-align: center;
    }
}
