/*Arreglar los margenes de la página ----CORREGIDO*/
.checkout {
    padding: 4rem;
    min-height: 90vh; 
}
.checkout-titulo {
    text-align: center;
    margin-bottom: 5rem;
}
.checkout-titulo h2 {
    font-size: 3rem;
}
/* Columna derecha del formulario de checkout. Aumentado padding izquierdo para alejar el contenido del borde coloreado (left). Preferible pintar el borde de esta columna ya que el contenido ocupa más y así se ajusta el largo a él y no hay que modificarlo */
.checkout-pago {
    border-left: hsl(29, 100%, 64%) 5px solid;
    padding-left: 5rem;
}
/* Contenedor de los input radio. Debe tener una separación con el botón de acción */
.checkout-formulario-datos-pago {
    margin-bottom: 2rem;
}