.administracion {
    min-height: 90vh;
}

// CABECERA
.header-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.titulo-admin h2 {
    color: $white;
}
.icono-menu {
    cursor: pointer;
    width: 5rem;
}

// MENÚ
.menu-admin {
    position: absolute;
    background-color: $primary-color;
    z-index: $z-index-medio;
    width: 100%;
	height: 100%;
    top: -1000;
    transition: all 0.7s;
}
.menu-admin.activo {
    top: 0;
    transition: all 0.7s;
}
.menu-admin nav {
    display: grid;
    grid-template-columns: repeat(3, minmax(12rem, 20rem));
    justify-content: space-around;
    margin-top: 10%;
    height: 80%;
}
.menu-admin-elemento ul li {
    cursor: pointer;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.menu-admin-elemento ul li:hover {
    text-shadow: 0.05rem 0.05rem 0.6rem $font-secondary-color;
    transform: scale(1.01,1.01);
}
.menu-admin-elemento ul li:first-child {
    cursor: default;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: none;
    transform: none;
}

// FORMULARIO
.admin-formulario {
    margin: 4rem 0 2rem 2rem;
}
.admin-formulario-datos {
    padding: 2rem 3rem;
}
.admin-formulario-etiquetas-anidado {
    margin: 0.5rem;
}
.admin-formulario-etiquetas-anidado .admin-formulario-datos  {
    padding: 2rem;
}
.admin-formulario-accion {
    display: flex;
    margin-left: auto;
    width: max-content;
}
.boton-admin {
    cursor: pointer;
    border: none;
    background-color: $primary-color-light;
    border-radius: 0.5rem;

    svg {
        width: 2rem;
        margin: 0.6rem;

        path {
            fill: $font-primary-color;
        }
    }
}
.boton-login {
    margin: 0 3rem 2rem;
}

// REGISTROS
.registros {
    padding: 4rem 2rem;
}
.registro {
    display: grid;
    grid-template-columns: 2fr 6fr 1fr 1fr;
    border: $primary-color 3px solid;
    border-left: none ;
    border-right: none;
    padding: 1.7rem 1rem;
    margin-bottom: 1rem;
}
.goup {
    position: fixed;
    right: 2vw;
    bottom: 1vh;
    width: 30px;  
 }
// .registro-accion {
//     align-self: center;
//     justify-self: end;

//     svg {
//         width: 2rem;

//         path {
//             fill: $font-primary-color;
//         }
//     }
// }